
  <ul>
    <li>
      <label for="user_displayname">Display Name <small>(ie: Matt Anderson)</small></label>
      <%= form.text_field :displayname, {:class => "big"} %>
    </li>

    <li>
      <label for="user_email">Email <small>We'll keep it a secret.</small></label>
      <%= form.text_field :email, {:class => "big"} %>
    </li>
    
    <li>
      <%= form.label :password %>
      <%= form.password_field :password, {:class => "big"} %>
    </li>
    
    <li>
      <%= form.label :password_confirmation, "Confirm password" %>
      <%= form.password_field :password_confirmation, {:class => "big"} %>
    </li>
    
<% unless @user.new_record? %>
    <li>
      <label for="user_website">Email Notification <small>(check to receive post and comment emails)</small></label>
      <%= form.check_box :item_notify, {:class => "big"} %>
    </li>

    <li>
      <label for="user_website">Website <small>(optional)</small></label>
      <%= form.text_field :website, {:class => "big"} %>
    </li>
  
    <li>
      <label for="user_location">Hometown <small>(optional)</small></label>
      <%= form.text_field :location, {:class => "big"} %>
    </li>
    
    <li>
      <label for="user_about">Bio <small>(optional)</small></label>
      <%= form.text_area :about, {:class => "big"} %>
    </li>


<% end %>
    
  </ul>
