
  <%= form.error_messages %>

  <p>
    <%= form.label :title %><br />
    <%= form.text_field :title, {:class => "big"} %>
  </p>
  <p>
    <%= form.label :body %><br />
    <%= form.text_area :body %>
  </p>