<% title "#{h(@item.user.displayname)} has something to say", false %>


<div class="post span-18">

  <div class="span-12">
    <h1><%=h @item.title %></h1>
    <p><%= safe(@item.body) %></p>
  </div>
  <div class="prepend-1 span-5 last">
    <dl class="meta">
      <dt>Posted</dt>
      <dd><%= @item.published_at.strftime("%B %d, %Y at %I:%M%p") %></dd>
      <dt>Author</dt>
      <dd class="author"><%=h @item.user.displayname %></dd>
      <%- if @item.changeable_by?(current_user) -%>
      <dt>Change?</dt>
      <dd><%= link_to 'Edit', edit_item_path(@item) %></dd>
      <%- end -%>
    </dl>
  </div>

</div>



<div id="comments" class="span-18">

  <% unless @item.comments.empty? %>
    <h3>Comments</h3>
    <% @item.comments.each do |comment| %>
      <%= render :partial => comment %>
    <% end %>
  <% end %>
  

  <h3>New Comment</h3>
  <%= render :partial => 'comments/form', :object => @comment = Comment.new, :locals => { :button_name => 'Create'}%>

</div>